<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        /* Votre CSS personnalisé */
    </style>
</head>
<body ng-app="bibliotech" ng-controller="ArticleController as ctrl">
<div class="splashscreen d-flex align-items-center justify-content-center ng-cloak">
    <h1>BlogTech<br/>
        <small class="text-secondary">Chargement en cours...</small>
    </h1>
</div>
<div class="fluid-container">
    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
            <a class="navbar-brand" href="#">BlogTech</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </header>

    <!-- Modal -->
    <!-- Votre contenu Modal ici -->
    <button class="btn btn-danger" ng-click="ctrl.deleteAllArticles()">Supprimer tous les articles</button>

    <ul class="list-group">
        <!-- Boucle sur les articles -->
        <li ng-repeat="article in ctrl.articles" class="list-group-item">
            {{ article.titre }}
            <!-- Bouton pour afficher les détails de l'article -->
            <a class="btn btn-primary float-right" href="#" ng-click="ctrl.showDetails(article.id)">Voir les détails</a>
        </li>

    </ul>


</div>

<script>

    angular.module("bibliotech", []).controller("ArticleController", function ($http) {
        this.showDetails = function (id) {
            // Redirigez l'utilisateur vers la page des détails de l'article en passant l'ID dans la requête
            window.location.href = 'article-details.html?id=' + id;
        };



        var that = this;
        // Exemple de requête API pour obtenir la liste des articles
        // Remplacez cela par votre propre appel d'API
        $http({
            method: 'GET',
            url: 'http://localhost:8080/articles'
        }).then(function successCallback(response) {
            that.articles = response.data;
        });

        var refreshSelected = function (articleId) {
            that.selected = {};
            // Exemple de requête API pour obtenir les détails d'un article
            // Remplacez cela par votre propre appel d'API
            $http({
                method: 'GET',
                url: 'http://localhost:8080/articles/' + articleId // Remplacez par l'URL correcte pour obtenir les détails de l'article
            }).then(function successCallback(response) {
                that.selected = response.data;
            });
        };

        this.loadModal = function (articleId) {
            refreshSelected(articleId);
        }
        this.deleteAllArticles = function() {
            // Exemple de requête API pour supprimer tous les articles
            // Remplacez cela par votre propre appel d'API
            $http({
                method: 'DELETE',
                url: 'http://localhost:8080/articles'
            }).then(function successCallback(response) {
                // Mettez à jour la liste des articles après la suppression
                $http({
                    method: 'GET',
                    url: 'http://localhost:8080/articles'
                }).then(function successCallback(response) {
                    that.articles = response.data;
                });
            });
        }


        // Vous pouvez ajouter d'autres fonctions pour ajouter ou supprimer des commentaires, par exemple.
    });
</script>
</body>
</html>
