<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body ng-app="bibliotech" ng-controller="ArticleController as ctrl">
<div class="container mt-3">
    <div class="jumbotron text-center">
        <h1 class="display-4">Bienvenue sur BlogTech</h1>
        <p class="lead">Découvrez les derniers articles techniques passionnants.</p>
    </div>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">BlogTech</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="btn btn-primary mr-2" ng-click="ctrl.signin()">S'inscrire</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-success" ng-click="ctrl.login()">Se connecter</a>
                </li>
            </ul>
        </div>
    </nav>

    <form ng-submit="ctrl.addArticle(newArticle)" class="mt-4">
        <h3>Ajouter un nouvel article</h3>
        <div class="form-group">
            <label for="titre">Titre de l'article:</label>
            <input type="text" class="form-control" id="titre" ng-model="newArticle.titre" required>
        </div>
        <div class="form-group">
            <label for="contenu">Contenu de l'article:</label>
            <textarea class="form-control" id="contenu" ng-model="newArticle.contenu" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter l'article</button>
    </form>

    <h3 class="mt-4">Derniers articles</h3>

    <ul class="list-group">
        <li ng-repeat="article in ctrl.articles" class="list-group-item">
            {{ article.titre }}
            <a class="btn btn-primary float-right" ng-click="ctrl.showDetails(article.id)">Voir les détails</a>
        </li>
    </ul>

    <div class="mt-3">
        <button class="btn btn-danger" ng-click="ctrl.deleteAllArticles">Supprimer tous les articles</button>
    </div>

    <div class="mt-5"></div>
</div>

<script>


    angular.module("bibliotech", []).controller("ArticleController", function ($http) {
        this.showDetails = function (id) {
            window.localStorage.setItem("id",id);
            window.location.href = 'article-details.html?id=' + id;
        };
        this.login = function () {
            window.location.href = 'login.html';
        };
        this.signin = function () {
            window.location.href = 'signin.html';
        };
        console.log("test index")
        this.addArticle = function (newArticle) {
            $http({
                method: 'POST',
                url: 'http://localhost:8080/articles',
                data: newArticle
            }).then(function successCallback(response) {
                $http({
                    method: 'GET',
                    url: 'http://localhost:8080/articles'
                }).then(function successCallback(response) {
                    that.articles = response.data;
                });
                newArticle.titre = '';
                newArticle.contenu = '';
            });
        };

        var that = this;
        $http({
            method: 'GET',
            url: 'http://localhost:8080/articles'
        }).then(function successCallback(response) {
            that.articles = response.data;
        });

        var refreshSelected = function (articleId) {
            that.selected = {};
            $http({
                method: 'GET',
                url: 'http://localhost:8080/articles/' + articleId
            }).then(function successCallback(response) {
                that.selected = response.data;
            });
        };

        this.loadModal = function (articleId) {
            refreshSelected(articleId);
        }
        this.deleteAllArticles = function() {
            $http({
                method: 'DELETE',
                url: 'http://localhost:8080/articles'
            }).then(function successCallback(response) {
                $http({
                    method: 'GET',
                    url: 'http://localhost:8080/articles'
                }).then(function successCallback(response) {
                    that.articles = response.data;
                });
            });
        }


    });
</script>
</body>
</html>
